*{margin: 0px;
 box-sizing: border-box;
}
body{
    background-color: rgb(118, 24, 127);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color:blanchedalmond;
}
.contentContainer{
    background-color: rgb(233, 108, 231);
    border: 2px solid blanchedalmond;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px;    
}
.enterName{
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
}
.nameENTER{
    width: fit-content;
}
.choiceButtonContainer{
    display:none;}
    /* display: flex; - ADD LATER WHEN THESE BUTTONS ARE REVEALED to JS
    justify-content: center;
    gap: 30px;
    margin: 20px;
} */
.choiceButton{
    background-color: rgb(210, 163, 246);
    padding: 8px;
    border-radius: 8px;
    font-size: 20px;
}