*{margin: 0px;
 box-sizing: border-box;
}
body{
    background-color:rgb(237 146 95 / 66%);;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: white;
}
#contentContainer{
    background-color:#cb3b18e0;
    border: 5px double #ba2803;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin: 20px;    
    gap:5px;
    position: relative;
}
#enterNameBeforeBegin{
    margin: 10px;
}
span{
    font-weight: 400;
}
#gameIcon{
    max-width: 180px;
    border: solid 3px #ba2803;
    border-radius: 50%;
}
.enterName{
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
}
.nameENTER{
    width: fit-content;
    
}
.choiceButtonContainer{
    display:none;}
    /* display: flex; - ADD LATER WHEN THESE BUTTONS ARE REVEALED to JS
    justify-content: center;
    gap: 30px;
    margin: 20px;
} */
#themeOptionsContainer{
    display: none;
}
.themeButton, .choiceButton{
    background-color: #d2a3f6;
    color: purple;
    padding: 5px;
    border-radius: 8px;
    font-size: 18px;
    margin: 10px;
    border: 2px white solid;
    width: 80px;
    height: 80px;

}
.themeButton:hover {
    background-color: rgb(150, 116, 176);
    color:white;
    padding: 7px;  
    border: 2px gold solid;
    box-shadow: 0 0 10px gold;
    font-size: 19px;
}
.returnToThemeButton{
    position:absolute;
    top: 5px;
    left: 5px;
   

}
.playTheme{
    display:none;
}
.instructions{
    text-align: left;
}


.choiceOptionsContainer img, .humanChoiceImage, .PCChoiceImage{
    height:80px;
    width:80px;
    border: 2px solid blue;
    box-shadow: 5px 5px 0px rgba(0, 38, 77, 0.25);
    border-radius: 8px;
    margin: 10px;
}

.gameTitle{
    display: none;
}
.vsImageContainer{
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap: 20px;
}
.vsImageContainer img{
    height:150px;
    width:150px;
    border: 2px solid blue;
    box-shadow: 5px 5px 0px rgba(0, 38, 77, 0.25);
    border-radius: 8px;
    margin: 10px;

}